body{padding:20px 10px 20px 10px;font-family:arial;line-height:20px;letter-spacing:0px;color:#444444;}body .hr{background-color:#444444;height:1px;margin-top:10px;margin-bottom:10px;clear:both;}
body .error{color:#f00;font-style:italic;padding-left:10px;width:40%;margin-top:20px;margin-bottom:20px;}
body a{color:#2b2b2b;}
body .header{margin-bottom:10px;}body .header a{text-decoration:none;}
body .header p{display:inline;font-style:italic;font-size:13px;font-family:times;}
body .header h1.title{float:right;font-size:30px;clear:both;}
body h1{font-family:arial;font-size:40px;line-height:40px;letter-spacing:-1px;color:#444;margin:0 0 0 0;padding:0 0 0 0;font-weight:100;}
body .column{float:left;width:32.6%;margin-right:1%;font-size:13px;}body .column .dynamic{display:none;}
body .column.status1 .dynamic.link_status_1{display:inline;}
body .column.status2 .dynamic.link_status_2{display:inline;}
body .column.status3 .dynamic.link_status_3{display:inline;}
body .column ul{min-height:300px;}
body .column li.sortable-placeholder{border:1px dashed #999;height:50px;background-color:#ffffff;}
body .column.status3 li,body .column .background.status3{border-bottom:1px solid #949991;background-color:#c9d5c6;}body .column.status3 li .todo,body .column .background.status3 .todo{text-decoration:line-through;}
body .column.status2 li,body .column .background.status2{border-bottom:1px solid #949991;background-color:#cddbed;}
body .column.status1 li,body .column .background.status1{border-bottom:1px solid #949991;background-color:#cccccc;}
body .column.logs{width:100%;}body .column.logs li{width:200px;float:left;margin-right:10px;}body .column.logs li .color_picker{cursor:default;}
body .column form{margin-bottom:5px;}
body .column ul{clear:both;}
body .column .title h1{margin-bottom:10px;font-size:18px;}
body .column.status3{margin-right:0px;}body .column.status3 .todo{margin-bottom:0px;}
body .column li{background-color:#ccc;padding-bottom:5px;padding-top:8px;padding-left:20px;padding-right:14px;line-height:20px;display:block;margin-bottom:10px;}body .column li p{font-size:10px;}
body .column li p.author{font-family:arial;font-style:italic;clear:both;font-size:10px;color:#787878;}
body .column li p.todo{font-size:13px;margin-bottom:15px;}body .column li p.todo.editable{cursor:pointer;}
body .column li p.todo input:text,body .column li p.todo textarea{float:none;}
body .column li p.todo input{margin-bottom:10px;width:100%;}
body .column li p.actions{float:right;}
body .column li a{color:#787878;font-style:italic;text-decoration:none;}
body .column li a:hover{text-decoration:underline;}
body .column li .color_picker{display:block;margin-left:-20px;margin-top:-8px;height:50px;width:10px;position:absolute;border-right:1px solid #949991;}
body .column li.status3 .todo{text-decoration:line-through;}
body .column .more{text-align:center;font-style:italic;text-decoration:underline;}
.form{width:100%;margin-bottom:60px;}.form input.button{width:20%;}
.form input.input{width:80%;}
p{font-size:11px;font-style:italic;}
.button input{clear:left;margin-top:10px;}
input,textarea{padding-left:14px;font-family:arial;padding-right:5px;display:block;float:left;border:1px solid #dedede;border-top:1px solid #eee;border-left:1px solid #eee;font-size:13px;line-height:130%;text-decoration:none;color:#565656;padding:3px 3px 3px 9px;height:31px;width:200px;height:40px;}input.button,textarea.button{cursor:pointer;background-color:#f5f5f5;width:150px;height:40px;}
textarea{height:100px;width:100%;}
div.label,label{clear:left;padding-top:9px;float:left;width:190px;}
